In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../datasets/cep/base_88.csv', encoding='latin-1', sep=',')

In [4]:
df.head()

,Unnamed: 0,secu,pond,region,nom_region,zona_u_r,gse,encuesta,encuesta_a,encuesta_m,...,info_hogar_34_b,info_hogar_34_c,info_hogar_1,info_hogar_35_a,info_hogar_35_b,info_hogar_35_c,info_hogar_35_d,info_hogar_35_e,info_hogar_35_f,info_hogar_35_g
0,1,139,0.970111,13,METROPOLITANA,1,3,88,2022,11,...,2.0,2.0,6.0,NaN,NaN,NaN,NaN,NaN,99.0,NaN
1,2,140,1.616056,13,METROPOLITANA,1,3,88,2022,11,...,2.0,2.0,6.0,NaN,NaN,NaN,NaN,NaN,99.0,NaN
2,3,139,1.523786,13,METROPOLITANA,1,3,88,2022,11,...,1.0,2.0,6.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
3,4,71,1.066547,7,MAULE,1,3,88,2022,11,...,2.0,1.0,4.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN
4,5,85,1.518043,8,BIOBÍO,1,3,88,2022,11,...,2.0,2.0,1.0,99.0,NaN,NaN,NaN,NaN,NaN,NaN